<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Our Application</h1>
<p>Hello <%= @user.name %>,</p>
<p>Welcome to our application! We are excited to have you on board.</p>
<p>Best regards,</p>
<p>The Application Team</p>
</body>
</html>