<header>
  <div class="container" style="margin-bottom: 3em; margin-top: 2em">
    <div class="row">
      <div class="col-12 col-md-6">
        <%= link_to "PS-store", root_path, title: 'Перейти на главную' %>
      </div>

      <div class="col-12 col-md-6">
        <span>
          <%= link_to "Корзина #{cart_items.size > 0 ? cart_items.size : ''}", cart_path, title: 'Корзина' %>
        </span>
      </div>
    </div>
  </div>
</header>
