<% if recently.present? %>
  <div class="recently">
    <h2>Недавно смотрели:</h2>
    <div class="swiper recently_swiper" data-controller="recently_swiper">
      <div class="swiper-wrapper">
        <% recently.each do |game| %>
          <%= render 'games/game_slider', game: game %>
        <% end %>
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
<% end %>