<% if recently.present? %>
  <div class="recently">
    <h2>Недавно смотрели:</h2>
    <div class="row">
      <% recently.each do |game| %>
        <%= render 'games/game', game: game %>
      <% end %>
    </div>
  </div>
<% end %>