img {
  width: 100%;
}

.item-game {
  margin: 10px 0;
  transition: all 0.5s;

  .wrap-img {
    margin-bottom: 10px;
    overflow: hidden;

    .no-img-game {
      background-image: url('no-img-game');
      background-size: cover;
      position: relative;
    }

    .img-game {
      background-size: cover;
      background-repeat: no-repeat;
      height: 306px;
      transition: all 0.5s;
      @media screen and (max-width: 768px) {
        height: 156px;
      }

      &:hover {
        transform: scale(1.2);
      }
    }

    .ru-flag {
      background-image: url('ru.svg');
      background-size: cover;
      position: absolute;
      right: 8px;
      top: 8px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid #575757;
    }

    .platform {
      background-image: url('ps5_ps4.svg');
      height: 20px;
      width: 60px;
      background-size: cover;
      position: absolute;
      left: 8px;
      bottom: 8px;
    }

    .platform.ps5 {
      background-image: url('ps5.svg');
      width: 37px;
    }

    .platform.ps4 {
      background-image: url('ps4.svg');
      width: 37px;
    }
  }

  .title-game {
    a {
      height: 48px;
      display: block;
      font-size: 19px;
      line-height: 24px;
      margin-bottom: 3px;
      text-decoration: none;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .price {
      font-size: 19px;
      margin: 5px 0;
      font-weight: bold;
    }
  }
}

.one-game {
  .wrap-img {
    margin-bottom: 10px;
    overflow: hidden;

    .img-game {
      background-size: contain;
      background-repeat: no-repeat;
      height: 636px;
      transition: all 0.5s;
      @media screen and (max-width: 768px) {
        height: 400px;
        background-size: cover;
        background-position: center center;
      }
    }
  }

  .price {
    font-size: 20px;
    font-weight: 800;
  }
}

.description {
  margin-top: 2em;
}

.recently {
  margin: 2em 0;
}

nav.pagination > span {
  margin: 0 3px;
}

#cart_items {
  margin-bottom: 2em;
}

.cart-item {
  margin: 1em 0;
}

#notices {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 2;

  div {
    opacity: 1;
    transition: height 1s ease-out, margin 1s ease-out, padding 1s ease-out, opacity 0.1s ease-out;
    font-size: 12px;
  }
}

.alert-notice {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.alert-alert {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}